# Flight data in Brazil

## Import libraries and data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [2]:
# Check for the working directory
!pwd

/Users/escortkwon/Code/Portfolio_Project_2021/Flights in Brazil

In [3]:
# Check for what files does certain directory have
!ls

FlightsAnalysis.ipynb archive.zip
airport-codes.csv     raw_2021.csv

In [4]:
# Unzip for fetch 'raw_2021.csv'
!unzip -o archive.zip

Archive:  archive.zip
  inflating: raw_2021.csv

In [5]:
# Load csv file into DataFrame
flights = pd.read_csv('raw_2021.csv', encoding='utf-8', low_memory=False)
flights

,company,flight,auth_code,line_type,origin,destination,scheduled_dep,real_dep,scheduled_arr,real_arr,situation,jus_code
0,AZU,2497,0,N,SBMO,SBRF,NaN,NaN,2019-06-07 21:50:00,2019-06-07 21:39:00,REALIZADO,NaN
1,AZU,2493,0,N,SBMK,SBCF,NaN,NaN,2019-06-07 20:30:00,2019-06-07 20:30:00,REALIZADO,NaN
2,AZU,2489,0,N,SBRF,SBGR,NaN,NaN,2019-06-07 23:35:00,2019-06-07 23:35:00,REALIZADO,NaN
3,AZU,2488,0,N,SBGR,SBRF,NaN,NaN,2019-06-07 08:20:00,2019-06-07 08:11:00,REALIZADO,NaN
4,AZU,2487,0,N,SBFL,SBKP,NaN,NaN,2019-06-07 17:45:00,2019-06-07 17:45:00,REALIZADO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1592596,AZU,2503,0,N,SBPL,SBKP,NaN,NaN,2019-06-07 06:35:00,2019-06-07 06:31:00,REALIZADO,NaN
1592597,AZU,2502,0,N,SBRF,SBSG,NaN,NaN,2019-06-07 15:25:00,2019-06-07 15:05:00,REALIZADO,HD
1592598,AZU,2500,0,N,SBKP,SBPL,NaN,NaN,2019-06-08 02:35:00,2019-06-08 02:18:00,REALIZADO,HD
1592599,AZU,2499,0,N,SBJU,SBKP,NaN,NaN,2019-06-07 05:25:00,2019-06-07 05:09:00,REALIZADO,HD
1592600,AZU,2498,0,N,SBKP,SBJU,NaN,NaN,2019-06-08 01:30:00,2019-06-08 01:26:00,REALIZADO,NaN

In [32]:
# Load csv file into DataFrame
airports = pd.read_csv('airport-codes.csv', engine='python', encoding='utf-8')
airports

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"
...,...,...,...,...,...,...,...,...,...,...,...,...
57416,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,ZYYK,YKH,NaN,"122.3586, 40.542524"
57417,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,ZYYY,NaN,NaN,"123.49600219726562, 41.784400939941406"
57418,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"1.4825, 51.894444"
57419,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"47.296388888900005, -11.584277777799999"
57420,ZZZZ,small_airport,Satsuma IÅjima Airport,338.0,AS,JP,JP-46,Mishima-Mura,RJX7,NaN,RJX7,"130.270556, 30.784722"

## Data Preprocessing

### Flights

In [7]:
# Check null values by columns
flights.isnull().sum()

company                0
flight                 0
auth_code            636
line_type           1525
origin                 0
destination            0
scheduled_dep    1344296
real_dep         1356256
scheduled_arr       2474
real_arr           46380
situation              0
jus_code         1185571
dtype: int64

In [8]:
# Drop unnecesary columns
flights.drop(['auth_code', 'scheduled_dep', 'real_dep', 'situation', 'jus_code'], axis=1, inplace=True)
flights

,company,flight,line_type,origin,destination,scheduled_arr,real_arr
0,AZU,2497,N,SBMO,SBRF,2019-06-07 21:50:00,2019-06-07 21:39:00
1,AZU,2493,N,SBMK,SBCF,2019-06-07 20:30:00,2019-06-07 20:30:00
2,AZU,2489,N,SBRF,SBGR,2019-06-07 23:35:00,2019-06-07 23:35:00
3,AZU,2488,N,SBGR,SBRF,2019-06-07 08:20:00,2019-06-07 08:11:00
4,AZU,2487,N,SBFL,SBKP,2019-06-07 17:45:00,2019-06-07 17:45:00
...,...,...,...,...,...,...,...
1592596,AZU,2503,N,SBPL,SBKP,2019-06-07 06:35:00,2019-06-07 06:31:00
1592597,AZU,2502,N,SBRF,SBSG,2019-06-07 15:25:00,2019-06-07 15:05:00
1592598,AZU,2500,N,SBKP,SBPL,2019-06-08 02:35:00,2019-06-08 02:18:00
1592599,AZU,2499,N,SBJU,SBKP,2019-06-07 05:25:00,2019-06-07 05:09:00
1592600,AZU,2498,N,SBKP,SBJU,2019-06-08 01:30:00,2019-06-08 01:26:00

In [9]:
# Remove rows which has nulll values
flights.dropna(axis=0, inplace=True)
flights

,company,flight,line_type,origin,destination,scheduled_arr,real_arr
0,AZU,2497,N,SBMO,SBRF,2019-06-07 21:50:00,2019-06-07 21:39:00
1,AZU,2493,N,SBMK,SBCF,2019-06-07 20:30:00,2019-06-07 20:30:00
2,AZU,2489,N,SBRF,SBGR,2019-06-07 23:35:00,2019-06-07 23:35:00
3,AZU,2488,N,SBGR,SBRF,2019-06-07 08:20:00,2019-06-07 08:11:00
4,AZU,2487,N,SBFL,SBKP,2019-06-07 17:45:00,2019-06-07 17:45:00
...,...,...,...,...,...,...,...
1592596,AZU,2503,N,SBPL,SBKP,2019-06-07 06:35:00,2019-06-07 06:31:00
1592597,AZU,2502,N,SBRF,SBSG,2019-06-07 15:25:00,2019-06-07 15:05:00
1592598,AZU,2500,N,SBKP,SBPL,2019-06-08 02:35:00,2019-06-08 02:18:00
1592599,AZU,2499,N,SBJU,SBKP,2019-06-07 05:25:00,2019-06-07 05:09:00
1592600,AZU,2498,N,SBKP,SBJU,2019-06-08 01:30:00,2019-06-08 01:26:00

In [10]:
# Re-check DataFRame whether it contains null rows or not
flights.isnull().sum()

company          0
flight           0
line_type        0
origin           0
destination      0
scheduled_arr    0
real_arr         0
dtype: int64

### Airports

In [33]:
airports

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"
...,...,...,...,...,...,...,...,...,...,...,...,...
57416,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,ZYYK,YKH,NaN,"122.3586, 40.542524"
57417,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,ZYYY,NaN,NaN,"123.49600219726562, 41.784400939941406"
57418,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"1.4825, 51.894444"
57419,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"47.296388888900005, -11.584277777799999"
57420,ZZZZ,small_airport,Satsuma IÅjima Airport,338.0,AS,JP,JP-46,Mishima-Mura,RJX7,NaN,RJX7,"130.270556, 30.784722"

In [34]:
# Split coordinates column into latitude and longtitude
airports['long'] = airports['coordinates'].str.split(',', expand=True)[0]
airports['lat'] = airports['coordinates'].str.split(',', expand=True)[1]
airports

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates,long,lat
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125",-74.93360137939453,40.07080078125
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022",-101.473911,38.704022
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968",-151.695999146,59.94919968
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172",-86.77030181884766,34.86479949951172
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087",-91.254898,35.6087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57416,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,ZYYK,YKH,NaN,"122.3586, 40.542524",122.3586,40.542524
57417,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,ZYYY,NaN,NaN,"123.49600219726562, 41.784400939941406",123.49600219726562,41.784400939941406
57418,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"1.4825, 51.894444",1.4825,51.894444
57419,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"47.296388888900005, -11.584277777799999",47.296388888900005,-11.584277777799999
57420,ZZZZ,small_airport,Satsuma IÅjima Airport,338.0,AS,JP,JP-46,Mishima-Mura,RJX7,NaN,RJX7,"130.270556, 30.784722",130.270556,30.784722

In [35]:
# Drop unnecessary columns
airports.drop(['type', 'elevation_ft', 'continent', 'municipality', 'gps_code', 'iata_code', 'local_code', 'coordinates'], axis=1, inplace=True)
airports

,ident,name,iso_country,iso_region,long,lat
0,00A,Total Rf Heliport,US,US-PA,-74.93360137939453,40.07080078125
1,00AA,Aero B Ranch Airport,US,US-KS,-101.473911,38.704022
2,00AK,Lowell Field,US,US-AK,-151.695999146,59.94919968
3,00AL,Epps Airpark,US,US-AL,-86.77030181884766,34.86479949951172
4,00AR,Newport Hospital & Clinic Heliport,US,US-AR,-91.254898,35.6087
...,...,...,...,...,...,...
57416,ZYYK,Yingkou Lanqi Airport,CN,CN-21,122.3586,40.542524
57417,ZYYY,Shenyang Dongta Airport,CN,CN-21,123.49600219726562,41.784400939941406
57418,ZZ-0001,Sealand Helipad,GB,GB-ENG,1.4825,51.894444
57419,ZZ-0002,Glorioso Islands Airstrip,TF,TF-U-A,47.296388888900005,-11.584277777799999
57420,ZZZZ,Satsuma IÅjima Airport,JP,JP-46,130.270556,30.784722

In [36]:
# Relocate columns and rename 'ident'
airports.rename(columns={'ident': 'ICAO'}, inplace=True)
airports = airports[['ICAO', 'name', 'iso_country', 'iso_region', 'lat', 'long']]
airports

,ICAO,name,iso_country,iso_region,lat,long
0,00A,Total Rf Heliport,US,US-PA,40.07080078125,-74.93360137939453
1,00AA,Aero B Ranch Airport,US,US-KS,38.704022,-101.473911
2,00AK,Lowell Field,US,US-AK,59.94919968,-151.695999146
3,00AL,Epps Airpark,US,US-AL,34.86479949951172,-86.77030181884766
4,00AR,Newport Hospital & Clinic Heliport,US,US-AR,35.6087,-91.254898
...,...,...,...,...,...,...
57416,ZYYK,Yingkou Lanqi Airport,CN,CN-21,40.542524,122.3586
57417,ZYYY,Shenyang Dongta Airport,CN,CN-21,41.784400939941406,123.49600219726562
57418,ZZ-0001,Sealand Helipad,GB,GB-ENG,51.894444,1.4825
57419,ZZ-0002,Glorioso Islands Airstrip,TF,TF-U-A,-11.584277777799999,47.296388888900005
57420,ZZZZ,Satsuma IÅjima Airport,JP,JP-46,30.784722,130.270556

## Data Preparing

In [13]:
# Check unique values of each column
for i in range(len(flights.columns)):
    column_list = flights.columns.tolist()
    print(column_list[i])
    print(flights.iloc[:, i].unique())

company
['AZU' 'UAE' 'TTL' 'TPU' 'THY' 'TCV' 'TAP' 'TAM' 'QTR' 'PTB' 'PAM' 'NRS'
 'MWM' 'MPH' 'LTG' 'LPE' 'LCO' 'LAP' 'LAN' 'UPS' 'UAL' 'LAE' 'KLM' 'KAL'
 'IBE' 'GTI' 'GLO' 'SWR' 'SKU' 'SAA' 'RAM' 'GEC' 'FDX' 'ETH' 'EDW' 'DTA'
 'DSM' 'DLH' 'DAL' 'CMP' 'CLX' 'CCA' 'BOV' 'BAW' 'AZA' 'AVA' 'AUT' 'ARG'
 'AMX' 'AFR' 'AEA' 'ACA' 'AAL' 'AAF' 'TPA' 'CFG' 'AZP' 'OWT' 'SLM' 'ROI'
 'FBZ' 'AZN' 'SUL' 'JAT' 'SID' 'AUZ' 'ELY' 'EVE' 'MMZ' 'CKS' 'TVS' 'SWQ'
 'MSI' 'MAA' 'AWC' 'KMF' 'VIV' 'CSB' 'OLS' 'VVC' 'EDR' 'TIW' 'WAL' 'ACL'
 'ARL' 'ARE' 'TVR' 'SKX' 'PVV' 'ETD' 'RZO' 'VDA' 'SOO' 'ADB' 'ETR' 'AXY'
 'LYC' 'SAS' 'LAU' 'TGY' 'EAL' 'PVG' 'JAF' 'TFL' 'ATG' 'KRE' 'RUC' 'QCL'
 'AJB' 'PUE' 'IPM' 'LNE' 'ONE']
flight
['2497' '2493' '2489' ... '9848' '7092' '9850']
line_type
['N' 'I' 'C' 'G' 'L' 'R' 'E' 'H' 'X']
origin
['SBMO' 'SBMK' 'SBRF' 'SBGR' 'SBFL' 'SBPK' 'SBCF' 'SBKP' 'SBLO' 'SBCY'
 'SBCT' 'SBRJ' 'SBSP' 'SNBR' 'SAEZ' 'SBEG' 'SBUY' 'SWCA' 'SPJC' 'SBGL'
 'SBPA' 'LTFM' 'GVAC' 'SBSV' 'LPPT' 'LPPR' 'SBFZ' 'SBSN' 'SBPS' 'SBTC'
 'SBCG' 'SBBR' 'SBSL' 'SBBE' 'KMIA' 'KMCO' 'KJFK' 'KBOS' 'SCEL' 'LEBL'
 'MMMX' 'LIRF' 'LFPG' 'EGLL' 'EDDF' 'LEMD' 'LIMC' 'FAOR' 'SUMU' 'SKBO'
 'SBUL' 'SBGO' 'SBMA' 'SBFI' 'SBBV' 'SBSG' 'SBJP' 'SBAR' 'SBPJ' 'OTHH'
 'SBRP' 'SWGN' 'SBQV' 'SWKO' 'SBTF' 'SWEI' 'SWPI' 'SBIH' 'EHAM' 'SEQM'
 'SGES' 'KLAX' 'EBBR' 'SGAS' 'KIAD' 'KORD' 'KEWR' 'KIAH' 'OMDB' 'PANC'
 'RKSI' 'MDPC' 'SLVR' 'SAAR' 'SACO' 'SBTE' 'SBJU' 'SBJE' 'SBPV' 'SBCN'
 'SBVT' 'SBDN' 'SBSR' 'SBMQ' 'SBRB' 'SBIZ' 'SBNF' 'SBJV' 'SBIL' 'LSZH'
 'GMMN' 'SBCH' 'SBCX' 'SBMG' 'TJBQ' 'HAAB' 'FNLU' 'KATL' 'MPTO' 'ELLX'
 'ZBAA' 'SLCB' 'SBAU' 'SBBH' 'SBSJ' 'SBUR' 'SBPL' 'SOCA' 'KFLL' 'SBCZ'
 'SBFN' 'SBKG' 'SBCA' 'SBPB' 'SBCB' 'SNVB' 'SBHT' 'CYYZ' 'KDFW' 'LFPO'
 'SBDO' 'SBTT' 'SBAE' 'SBML' 'SBVH' 'SBAT' 'SBGV' 'SBRD' 'SBBW' 'SBPF'
 'SBSI' 'SBFE' 'SBJA' 'SBJI' 'SBIP' 'SBZM' 'SBTB' 'SBUA' 'EGKK' 'SULS'
 'SAME' 'LLBG' 'SMJP' 'GOBD' 'LTBA' 'SDSC' 'SBLE' 'SBCR' 'SBLJ' 'SBMS'
 'SBAC' 'SBTG' 'SNTF' 'SBNM' 'SBTD' 'SSKW' 'SWLC' 'SBPG' 'SBCJ' 'SBSM'
 'SBAX' 'SBUG' 'OMDW' 'SWMW' 'SNVS' 'SNMZ' 'SNYA' 'SBMD' 'SNPD' 'SNCT'
 'SNUH' 'SNTO' 'SKRG' 'SWLB' 'SWTS' 'SWJN' 'KMEM' 'KMLB' 'SBVG' 'SBUF'
 'SBCP' 'SVMI' 'EBLG' 'SWHP' 'SWFX' 'SNJM' 'SNUI' 'SNDT' 'SBGP' 'SAZS'
 'SBDB' 'TJSJ' 'GABS' 'EKCH' 'SBPO' 'MMUN' 'SEGU' 'SDIY' 'LKMT' 'DNMM'
 'KMEI' 'KMCN' 'EHBK' 'OMAA' 'KLCK' 'EINN' 'SBJD' 'SPIM' 'SBAS' 'LFBO'
 'KMSY' 'KSBD' 'MGGT' 'SBSO' 'GCLP' 'SBVC' 'SWKN' 'TTPP' 'SWSI' 'SWJI'
 'SSPB' 'SBNT' 'KPBI' 'GCRR' 'DGAA' 'LEZG' 'SWBC' 'GQNO' 'LPFR' 'GMMX'
 'SJRG' 'SSZR' 'SBBG' 'SCIE' 'SSUV' 'SSGY' 'SSKM' 'SSFB' 'SSVL' 'SSPG'
 'SSPI' 'SSOG' 'SANT' 'SSCP' 'SSCT' 'SMPB' 'GQNN' 'SEQU' 'SPCL' 'SPME'
 'SPUR' 'SPQT' 'SPRU' 'SPTN' 'SPQU' 'SPJL' 'SPZO' 'SCFA' 'YMML' 'NZAA'
 'YSSY' 'SCCF' 'SCAT' 'SCQP' 'SCDA' 'SCCI' 'SCTE' 'SASA' 'SABE' 'SCRG'
 'SLLP' 'SCIP' 'SCAR' 'SCSE' 'SCBA' 'SCVD' 'SPJE' 'SPJR' 'SPHI' 'SPST'
 'SPYL' 'SPJJ' 'SPHO' 'SPTU' 'SKCG' 'MUHA' 'SAWH' 'SAWC' 'SAVC' 'SAZN'
 'SARI' 'SKCL' 'MROC' 'SPSO' 'SPLO' 'SCJO' 'SCPQ' 'SADP' 'SAWG' 'EGYP'
 'SIMK' 'SBJR' 'SNBA' 'SBME' 'SJTC' 'CYMX' 'KVCV' 'KAUS' 'MMGL' 'LGAV'
 'EGNX' 'EDHI' 'GCTS' 'SSSB' 'CYUL' 'SURV' 'SBAQ' 'TFFF' 'SBGU' 'EDDM'
 'SSGG' 'SIZX' 'SWBG' 'SWPY' 'SWEK' 'SBGS' 'SDNM' 'FQMA' 'EIDW' 'SGGR'
 'DNKN' 'SNIG' 'SWBE' 'SNOB' 'SNWS' 'KROW' 'SDZG' 'SSDO' 'SILC' 'SKBQ'
 'EGSS' 'SDCO' 'TFFR' 'MKJS' 'ZBHH' 'LFSB' 'EBOS' 'WADD' 'MHLM' 'LKPR'
 'KELP' 'GCXO' 'DXXX' 'TBPB' 'ZGGG' 'ZSAM' 'CYVR' 'OBBI' 'OAKB' 'DIAP'
 'OKBK' 'SNRJ' 'SDWQ' 'SBMT' 'SBJC' 'SNMA' 'SNTI' 'SNOX' 'LPPD' 'KSTL'
 'SNHS' 'SNRU' 'MTPP' 'SYCJ' 'KLRD' 'UIUU' 'LEPA' 'UUEE' 'USSS' 'SNGA'
 'SDAG' 'SDTK' 'SSTE' 'SSCN' 'SDUB' 'SDIM' 'SVVA' 'SYEC' 'KAEX' 'EDDK'
 'SKLT' 'EDFH' 'VMMC' 'VCBI' 'HKJK' 'MNMG' 'SVSO' 'UCFM' 'HSSS' 'SVBM'
 'ZGSZ' 'GUCY' 'OEJN' 'FYWH' 'VHHH' 'SJHG' 'SSOU' 'SBPC' 'SNPJ' 'KDTW'
 'KLAS' 'LEVC' 'MMMY' 'SNZA' 'SNVC' 'SNAR' 'TNCC' 'LFBT' 'SNGX' 'SNOS'
 'RJAA' 'KVQQ' 'SNGV' 'KBFI' 'EIDL' 'GOOY' 'SLOR' 'MSLP' 'EGCN']
destination
['SBRF' 'SBCF' 'SBGR' 'SBKP' 'SBPA' 'SBCY' 'SBCT' 'SBLO' 'SNBR' 'SBGL'
 'SBEG' 'SWCA' 'SBUY' 'SBFL' 'SPJC' 'LTFM' 'SAEZ' 'GVAC' 'SBSV' 'LPPT'
 'LPPR' 'SBFZ' 'SBSG' 'SDSC' 'SBSR' 'SBSP' 'SBTC' 'SBCG' 'SBBR' 'SBRJ'
 'SBSL' 'KMIA' 'KMCO' 'KJFK' 'SCEL' 'LEBL' 'MMMX' 'LIRF' 'LFPG' 'EGLL'
 'EDDF' 'LEMD' 'LIMC' 'FAOR' 'SUMU' 'SKBO' 'SBBV' 'SBBE' 'SBVT' 'SBTE'
 'SBMO' 'SBFI' 'SBJP' 'SBRP' 'SBUL' 'SBGO' 'SBPJ' 'SWGN' 'SBQV' 'SWKO'
 'SBTF' 'SWEI' 'SWPI' 'SBIH' 'SBSN' 'EGKK' 'EHAM' 'SEQM' 'SGES' 'EBBR'
 'SGAS' 'LLBG' 'MMUN' 'KIAD' 'KORD' 'KEWR' 'KIAH' 'OMDB' 'SKRG' 'PANC'
 'SBPS' 'MDPC' 'SLVR' 'SAAR' 'SBJU' 'SBJE' 'SBAR' 'SBPV' 'SBCN' 'SBMK'
 'SBDN' 'SBMA' 'SBJV' 'SBIZ' 'SBIL' 'SBMQ' 'SBNF' 'LSZH' 'GMMN' 'OTHH'
 'SBCH' 'SBCX' 'SBMG' 'KMEM' 'TJBQ' 'HAAB' 'FNLU' 'KATL' 'MPTO' 'SLCB'
 'SBPL' 'SACO' 'SOCA' 'KFLL' 'SBRB' 'SBCZ' 'SBFN' 'SBKG' 'SBCA' 'SBPB'
 'KLAX' 'CYYZ' 'KDFW' 'LFPO' 'SNVB' 'SBCB' 'SBDO' 'SBML' 'SBTT' 'SBAE'
 'SBVH' 'SBAT' 'SBHT' 'SBGV' 'SBIP' 'SBUR' 'SBBW' 'SBPF' 'SBSI' 'SBFE'
 'SBJA' 'SBJI' 'SBAU' 'SBZM' 'SBTB' 'SBUA' 'KBOS' 'SULS' 'SAME' 'RKSI'
 'SMJP' 'GOBD' 'SBLE' 'SBCR' 'SBLJ' 'SBRD' 'SBMS' 'SBAC' 'SBTG' 'SBPK'
 'SBNM' 'SBTD' 'SNTF' 'SSKW' 'ELLX' 'ZBAA' 'KMLB' 'SBSJ' 'SWLC' 'SBPG'
 'SBSM' 'SBAX' 'SBCJ' 'SBUG' 'SPIM' 'LTBA' 'SWMW' 'SNVS' 'SNMZ' 'SNYA'
 'SBMD' 'SBBH' 'SNPD' 'SNCT' 'SWLB' 'SWTS' 'SWJN' 'SBVG' 'SBCP' 'SBUF'
 'SVMI' 'EBLG' 'SWHP' 'SWFX' 'SNJM' 'SNUI' 'SNDT' 'SNTO' 'SBGP' 'SAZS'
 'SBDB' 'TJSJ' 'OMAA' 'GABS' 'EKCH' 'SEGU' 'SDIY' 'SABE' 'KMCN' 'KMEI'
 'EHBK' 'KLCK' 'SBPO' 'EINN' 'SBJD' 'KMSY' 'MGGT' 'SBSO' 'GCLP' 'SBVC'
 'SWKN' 'TTPP' 'SWSI' 'SWJI' 'KCWF' 'SSPB' 'SBNT' 'SCFA' 'KPBI' 'LEZG'
 'GCRR' 'DGAA' 'EDDR' 'SWBC' 'LFBO' 'EKBI' 'GQNO' 'LPFR' 'GMMX' 'KSBD'
 'EDDB' 'SBBG' 'SSZR' 'KTUS' 'SSUV' 'SSGY' 'SANT' 'SSFB' 'SSCT' 'SSVL'
 'SSPG' 'SSKM' 'SSPI' 'SSOG' 'SSCP' 'SMPB' 'GQNN' 'SEQU' 'SPME' 'SPUR'
 'SPHI' 'SPST' 'SPQT' 'SPRU' 'SPQU' 'SPZO' 'NZAA' 'SCAR' 'SCDA' 'SCCI'
 'SCRG' 'SLLP' 'SCIP' 'YSSY' 'SCCF' 'SCAT' 'SCSE' 'SCTE' 'SCBA' 'SCVD'
 'SCQP' 'SCIE' 'SPJE' 'SPJR' 'SPYL' 'SPJJ' 'SPHO' 'SPTN' 'SPJL' 'SPTU'
 'SKCG' 'SASA' 'MUHA' 'SPCL' 'SAWH' 'SAWC' 'SAVC' 'SAWG' 'SAZN' 'SARI'
 'SKCL' 'MROC' 'SPSO' 'YMML' 'SPLO' 'SCJO' 'SCPQ' 'KVCV' 'SADP' 'EGYP'
 'SJTC' 'SIMK' 'SBJR' 'SNBA' 'SBME' 'KAUS' 'LGAV' 'GCTS' 'SJRG' 'EGNX'
 'KPAE' 'KAUH' 'DNMM' 'SSSB' 'CYUL' 'EDDM' 'SURV' 'SBAQ' 'TFFF' 'SBGU'
 'SBBT' 'SSGG' 'SJHG' 'SIZX' 'SWBG' 'SWPY' 'SWEK' 'SBGS' 'KSFO' 'SDNM'
 'LPAR' 'OMDW' 'KSFB' 'SDCO' 'KRSW' 'KPUC' 'SGGR' 'DNKN' 'SNIG' 'SWBE'
 'SNOB' 'SNWS' 'EDHI' 'SDZG' 'SSDO' 'SILC' 'SKBQ' 'KROW' 'EGSS' 'TFFR'
 'MKJS' 'ZBHH' 'LFSB' 'EBOS' 'WADD' 'MHLM' 'LKPR' 'KIWA' 'GCXO' 'TBPB'
 'HKJK' 'ZSAM' 'SKLT' 'EGCC' 'ZGGG' 'ZSHC' 'OAKB' 'OBBI' 'ZSNJ' 'DIAP'
 'UBBB' 'OKBK' 'SNTI' 'SBMT' 'SDAG' 'SBJC' 'SDWQ' 'SNOX' 'SNRJ' 'SNMA'
 'TNCC' 'SEMT' 'TXKF' 'SNHS' 'SNRU' 'MTPP' 'SYCJ' 'KLRD' 'USSS' 'LEPA'
 'UUEE' 'SNGA' 'SDTK' 'SSTE' 'SSCN' 'SDUB' 'SDIM' 'SVVA' 'FQMA' 'VCBI'
 'MNMG' 'VMMC' 'UCFM' 'SVSO' 'ZGSZ' 'OEJN' 'GUCY' 'FYWH' 'VHHH' 'SSOU'
 'SNZA' 'KDTW' 'KLAS' 'SNPJ' 'LEVC' 'SNUH' 'SNVC' 'SBPC' 'SNAR' 'MMMY'
 'SNOS' 'SNGX' 'KVQQ' 'RJAA' 'GOOY' 'MSLP' 'LFBT' 'LFBD' 'LPPD' 'LOWW'
 'EGCN']
scheduled_arr
['2019-06-07 21:50:00' '2019-06-07 20:30:00' '2019-06-07 23:35:00' ...
 '2019-06-08 03:05:00' '2019-06-07 03:10:00' '2019-06-07 19:02:00']
real_arr
['2019-06-07 21:39:00' '2019-06-07 20:30:00' '2019-06-07 23:35:00' ...
 '2019-06-07 06:52:00' '2019-06-07 05:09:00' '2019-06-08 01:26:00']

In [14]:
# Copy flights for backup
flights_copy = flights.copy()
flights_copy

,company,flight,line_type,origin,destination,scheduled_arr,real_arr
0,AZU,2497,N,SBMO,SBRF,2019-06-07 21:50:00,2019-06-07 21:39:00
1,AZU,2493,N,SBMK,SBCF,2019-06-07 20:30:00,2019-06-07 20:30:00
2,AZU,2489,N,SBRF,SBGR,2019-06-07 23:35:00,2019-06-07 23:35:00
3,AZU,2488,N,SBGR,SBRF,2019-06-07 08:20:00,2019-06-07 08:11:00
4,AZU,2487,N,SBFL,SBKP,2019-06-07 17:45:00,2019-06-07 17:45:00
...,...,...,...,...,...,...,...
1592596,AZU,2503,N,SBPL,SBKP,2019-06-07 06:35:00,2019-06-07 06:31:00
1592597,AZU,2502,N,SBRF,SBSG,2019-06-07 15:25:00,2019-06-07 15:05:00
1592598,AZU,2500,N,SBKP,SBPL,2019-06-08 02:35:00,2019-06-08 02:18:00
1592599,AZU,2499,N,SBJU,SBKP,2019-06-07 05:25:00,2019-06-07 05:09:00
1592600,AZU,2498,N,SBKP,SBJU,2019-06-08 01:30:00,2019-06-08 01:26:00

In [15]:
# I have no idea with line_type of following values: C, G, L, R, E, H and X
# Therefore, I decided to remove rows which contain those
target = ['N', 'I']
flights = flights_copy.loc[flights['line_type'].isin(target)]
flights

,company,flight,line_type,origin,destination,scheduled_arr,real_arr
0,AZU,2497,N,SBMO,SBRF,2019-06-07 21:50:00,2019-06-07 21:39:00
1,AZU,2493,N,SBMK,SBCF,2019-06-07 20:30:00,2019-06-07 20:30:00
2,AZU,2489,N,SBRF,SBGR,2019-06-07 23:35:00,2019-06-07 23:35:00
3,AZU,2488,N,SBGR,SBRF,2019-06-07 08:20:00,2019-06-07 08:11:00
4,AZU,2487,N,SBFL,SBKP,2019-06-07 17:45:00,2019-06-07 17:45:00
...,...,...,...,...,...,...,...
1592596,AZU,2503,N,SBPL,SBKP,2019-06-07 06:35:00,2019-06-07 06:31:00
1592597,AZU,2502,N,SBRF,SBSG,2019-06-07 15:25:00,2019-06-07 15:05:00
1592598,AZU,2500,N,SBKP,SBPL,2019-06-08 02:35:00,2019-06-08 02:18:00
1592599,AZU,2499,N,SBJU,SBKP,2019-06-07 05:25:00,2019-06-07 05:09:00
1592600,AZU,2498,N,SBKP,SBJU,2019-06-08 01:30:00,2019-06-08 01:26:00

In [16]:
# Check unique values of each column
for i in range(len(flights.columns)):
    column_list = flights.columns.tolist()
    print(column_list[i])
    print(flights.iloc[:, i].unique())

company
['AZU' 'UAE' 'TTL' 'TPU' 'THY' 'TCV' 'TAP' 'TAM' 'QTR' 'PTB' 'PAM' 'NRS'
 'LPE' 'LAP' 'LAN' 'UAL' 'KLM' 'KAL' 'IBE' 'GLO' 'SWR' 'SKU' 'SAA' 'RAM'
 'ETH' 'EDW' 'DTA' 'DSM' 'DLH' 'DAL' 'CMP' 'CCA' 'BOV' 'BAW' 'AZA' 'AVA'
 'AUT' 'ARG' 'AMX' 'AFR' 'AEA' 'ACA' 'AAL' 'AAF' 'CFG' 'AZP' 'OWT' 'SLM'
 'ROI' 'LTG' 'FBZ' 'CLX' 'AZN' 'SUL' 'JAT' 'AUZ' 'SID' 'ELY' 'IPM' 'ONE']
flight
['2497' '2493' '2489' ... '9848' '7092' '9850']
line_type
['N' 'I']
origin
['SBMO' 'SBMK' 'SBRF' 'SBGR' 'SBFL' 'SBPK' 'SBCF' 'SBKP' 'SBLO' 'SBCY'
 'SBCT' 'SBRJ' 'SBSP' 'SNBR' 'SAEZ' 'SBEG' 'SBUY' 'SWCA' 'SPJC' 'SBGL'
 'SBPA' 'LTFM' 'GVAC' 'SBSV' 'LPPT' 'LPPR' 'SBFZ' 'SBSN' 'SBPS' 'SBTC'
 'SBCG' 'SBBR' 'SBSL' 'SBBE' 'KMIA' 'KMCO' 'KJFK' 'KBOS' 'SCEL' 'LEBL'
 'MMMX' 'LIRF' 'LFPG' 'EGLL' 'EDDF' 'LEMD' 'LIMC' 'FAOR' 'SUMU' 'SKBO'
 'SBUL' 'SBGO' 'SBMA' 'SBFI' 'SBBV' 'SBSG' 'SBJP' 'SBAR' 'SBPJ' 'OTHH'
 'SBRP' 'SWGN' 'SBQV' 'SWKO' 'SBTF' 'SWEI' 'SWPI' 'SBIH' 'KLAX' 'SGAS'
 'KIAD' 'KORD' 'KEWR' 'KIAH' 'OMDB' 'EHAM' 'PANC' 'RKSI' 'MDPC' 'SLVR'
 'SAAR' 'SACO' 'SBTE' 'SBJU' 'SBJE' 'SBPV' 'SBCN' 'SBVT' 'SBDN' 'SBSR'
 'SBMQ' 'SBRB' 'SBIZ' 'SBNF' 'SBJV' 'SBIL' 'LSZH' 'GMMN' 'SBCH' 'SBCX'
 'SBMG' 'HAAB' 'FNLU' 'KATL' 'MPTO' 'ZBAA' 'SLCB' 'SBAU' 'SBBH' 'SBSJ'
 'SBUR' 'SBPL' 'SOCA' 'KFLL' 'SBCZ' 'SBFN' 'SBKG' 'SBCA' 'SBPB' 'SBCB'
 'SNVB' 'SBHT' 'CYYZ' 'KDFW' 'LFPO' 'SBDO' 'SBTT' 'SBAE' 'SBML' 'SBVH'
 'SBAT' 'SBGV' 'SBRD' 'SBBW' 'SBPF' 'SBSI' 'SBFE' 'SBJA' 'SBJI' 'SBIP'
 'SBZM' 'SBTB' 'SBUA' 'EGKK' 'SULS' 'SAME' 'LLBG' 'SMJP' 'SDSC' 'SBLE'
 'SBCR' 'SBLJ' 'SBMS' 'SBAC' 'SBTG' 'SNTF' 'SBNM' 'SBTD' 'SSKW' 'SWLC'
 'SBPG' 'SBCJ' 'SBSM' 'SBAX' 'SBUG' 'SWMW' 'SNVS' 'SNMZ' 'SNYA' 'SBMD'
 'SNPD' 'SNCT' 'SNUH' 'SNTO' 'SEQM' 'SWLB' 'SWTS' 'SWJN' 'KMLB' 'SBVG'
 'SBUF' 'SBCP' 'SVMI' 'SWHP' 'SWFX' 'SNJM' 'SNUI' 'SNDT' 'SBGP' 'SAZS'
 'SBDB' 'SBPO' 'MMUN' 'SDIY' 'LKMT' 'KMEI' 'KMCN' 'OMAA' 'TJSJ' 'SEGU'
 'SBAS' 'LFBO' 'KMSY' 'SBJD' 'KSBD' 'SBSO' 'GCLP' 'SBVC' 'SWKN' 'TTPP'
 'SWSI' 'SWJI' 'KPBI' 'SWBC' 'LPFR' 'GMMX' 'SJRG' 'SSZR' 'SBBG' 'SCIE'
 'SSUV' 'SSGY' 'SSKM' 'SSFB' 'SSVL' 'SSPG' 'SSPI' 'SSOG' 'SSCP' 'SSCT'
 'SMPB' 'SEQU' 'SPCL' 'SPME' 'SPUR' 'SPQT' 'SPRU' 'SPTN' 'SPQU' 'SPJL'
 'SPZO' 'SCFA' 'YMML' 'NZAA' 'YSSY' 'SCCF' 'SCAT' 'SCQP' 'SCDA' 'SCCI'
 'SCTE' 'SASA' 'SABE' 'SCRG' 'SLLP' 'SCIP' 'SCAR' 'SCSE' 'SCBA' 'SCVD'
 'SPJE' 'SPJR' 'SPHI' 'SPST' 'SPYL' 'SPJJ' 'SPHO' 'SPTU' 'SKRG' 'SKCG'
 'MUHA' 'SAWH' 'SAWC' 'SAVC' 'SAZN' 'SANT' 'SARI' 'SKCL' 'MROC' 'SPSO'
 'SPLO' 'SCJO' 'SCPQ' 'SADP' 'SAWG' 'EGYP' 'SIMK' 'SBJR' 'SNBA' 'SBME'
 'SJTC' 'KVCV' 'LGAV' 'EDHI' 'GCTS' 'TJBQ' 'SSSB' 'CYUL' 'SURV' 'SBAQ'
 'TFFF' 'EDDM' 'SSGG' 'GOBD' 'SBGU' 'SIZX' 'SWBG' 'SWPY' 'SWEK' 'SBGS'
 'SDNM' 'FQMA' 'SBNT' 'GCRR' 'LEZG' 'EIDW' 'SGGR' 'SNIG' 'SWBE' 'SNOB'
 'SNWS' 'KROW' 'SDZG' 'SSDO' 'SKBQ' 'SDCO' 'TFFR' 'MKJS' 'ZBHH' 'WADD'
 'MHLM' 'TBPB' 'ZGGG' 'ZSAM' 'MGGT' 'SNRJ' 'SDWQ' 'SBMT' 'SBJC' 'SNMA'
 'SNTI' 'SNOX' 'SILC' 'SNHS' 'SNRU' 'MTPP' 'SNGA' 'SDAG' 'SDTK' 'SSTE'
 'SSCN' 'SDUB' 'SDIM' 'MNMG' 'SGES' 'SJHG' 'SSOU' 'LTBA' 'SBPC' 'SNPJ'
 'SSPB' 'KDTW' 'KLAS' 'SNZA' 'SNVC' 'SNAR' 'LFBT' 'SNGX' 'SNOS' 'SYCJ'
 'KVQQ' 'SNGV' 'KBFI' 'EIDL' 'GOOY' 'SLOR' 'MSLP' 'OEJN' 'LPPD']
destination
['SBRF' 'SBCF' 'SBGR' 'SBKP' 'SBPA' 'SBCY' 'SBCT' 'SBLO' 'SNBR' 'SBGL'
 'SBEG' 'SWCA' 'SBUY' 'SPJC' 'LTFM' 'SAEZ' 'GVAC' 'SBSV' 'LPPT' 'LPPR'
 'SBFZ' 'SBSG' 'SDSC' 'SBSR' 'SBSP' 'SBTC' 'SBCG' 'SBBR' 'SBRJ' 'SBSL'
 'KMIA' 'KMCO' 'KJFK' 'SCEL' 'LEBL' 'MMMX' 'LIRF' 'LFPG' 'EGLL' 'EDDF'
 'LEMD' 'LIMC' 'FAOR' 'SUMU' 'SKBO' 'SBBV' 'SBBE' 'SBVT' 'SBTE' 'SBMO'
 'SBFI' 'SBFL' 'SBJP' 'SBRP' 'SBUL' 'SBGO' 'SBPJ' 'SWGN' 'SBQV' 'SWKO'
 'SBTF' 'SWEI' 'SWPI' 'SBIH' 'SBSN' 'EGKK' 'SGAS' 'LLBG' 'MMUN' 'KIAD'
 'KORD' 'KEWR' 'KIAH' 'OMDB' 'EHAM' 'PANC' 'SBPS' 'MDPC' 'SLVR' 'SAAR'
 'SBJU' 'SBJE' 'SBAR' 'SBPV' 'SBCN' 'SBMK' 'SBDN' 'SBMA' 'SBJV' 'SBIZ'
 'SBIL' 'SBMQ' 'SBNF' 'LSZH' 'GMMN' 'OTHH' 'SBCH' 'SBCX' 'SBMG' 'HAAB'
 'FNLU' 'KATL' 'MPTO' 'SLCB' 'SBPL' 'SACO' 'SOCA' 'KFLL' 'SBRB' 'SBCZ'
 'SBFN' 'SBKG' 'SBCA' 'SBPB' 'KLAX' 'CYYZ' 'KDFW' 'LFPO' 'SNVB' 'SBCB'
 'SBDO' 'SBML' 'SBTT' 'SBAE' 'SBVH' 'SBAT' 'SBHT' 'SBGV' 'SBIP' 'SBUR'
 'SBBW' 'SBPF' 'SBSI' 'SBFE' 'SBJA' 'SBJI' 'SBAU' 'SBZM' 'SBTB' 'SBUA'
 'KBOS' 'SULS' 'SAME' 'RKSI' 'SMJP' 'SEQM' 'SBLE' 'SBCR' 'SBLJ' 'SBRD'
 'SBMS' 'SBAC' 'SBTG' 'SBPK' 'SBNM' 'SBTD' 'SNTF' 'SSKW' 'ZBAA' 'KMLB'
 'SBSJ' 'SWLC' 'SBPG' 'SBSM' 'SBAX' 'SBCJ' 'SBUG' 'SPIM' 'SWMW' 'SNVS'
 'SNMZ' 'SNYA' 'SBMD' 'SBBH' 'SNPD' 'SNCT' 'SWLB' 'SWTS' 'SWJN' 'SBVG'
 'SBCP' 'SBUF' 'SVMI' 'SWHP' 'SWFX' 'SNJM' 'SNUI' 'SNDT' 'SNTO' 'SBGP'
 'SAZS' 'SBDB' 'OMAA' 'SDIY' 'SABE' 'KMCN' 'KMEI' 'TJSJ' 'SBPO' 'SEGU'
 'KMSY' 'SBSO' 'GCLP' 'SBVC' 'SWKN' 'TTPP' 'SWSI' 'SWJI' 'KCWF' 'KPBI'
 'SWBC' 'LFBO' 'EKBI' 'LPFR' 'GMMX' 'KSBD' 'EDDB' 'SKRG' 'SSPB' 'SBBG'
 'SSZR' 'KTUS' 'SSUV' 'SSGY' 'SSFB' 'SSCT' 'SSVL' 'SSPG' 'SSKM' 'SSPI'
 'SSOG' 'SSCP' 'SMPB' 'SEQU' 'SPME' 'SPUR' 'SPHI' 'SPST' 'SPQT' 'SPRU'
 'SPQU' 'SPZO' 'NZAA' 'SCAR' 'SCDA' 'SCCI' 'SCRG' 'SCFA' 'SLLP' 'SCIP'
 'YSSY' 'SCCF' 'SCAT' 'SCSE' 'SCTE' 'SCBA' 'SCVD' 'SCQP' 'SCIE' 'SPJE'
 'SPJR' 'SPYL' 'SPJJ' 'SPHO' 'SPTN' 'SPJL' 'SPTU' 'SKCG' 'SASA' 'MUHA'
 'SPCL' 'SAWH' 'SAWC' 'SAVC' 'SAWG' 'SAZN' 'SANT' 'SARI' 'SKCL' 'MROC'
 'SPSO' 'YMML' 'SPLO' 'SCJO' 'SCPQ' 'KVCV' 'SADP' 'EGYP' 'TJBQ' 'SJTC'
 'SIMK' 'SBJR' 'SNBA' 'SBME' 'LGAV' 'GCTS' 'SJRG' 'KPAE' 'SSSB' 'CYUL'
 'EDDM' 'SURV' 'SBAQ' 'TFFF' 'SBBT' 'SBJD' 'SSGG' 'GOBD' 'SBGU' 'SJHG'
 'SIZX' 'SWBG' 'SWPY' 'SWEK' 'SBGS' 'KSFO' 'SDNM' 'LPAR' 'SBNT' 'GCRR'
 'LEZG' 'KSFB' 'SDCO' 'KRSW' 'KPUC' 'SGGR' 'SNIG' 'SWBE' 'SNOB' 'SNWS'
 'EDHI' 'SDZG' 'SSDO' 'SKBQ' 'KROW' 'TFFR' 'MKJS' 'ZBHH' 'WADD' 'MHLM'
 'TBPB' 'ZSAM' 'MGGT' 'ZGGG' 'SNTI' 'SBMT' 'SDAG' 'SBJC' 'SDWQ' 'SNOX'
 'SNRJ' 'SNMA' 'SEMT' 'SILC' 'SNHS' 'SNRU' 'MTPP' 'SNGA' 'SDTK' 'SSTE'
 'SSCN' 'SDUB' 'SDIM' 'MNMG' 'SGES' 'SSOU' 'SNZA' 'KDTW' 'LTBA' 'KLAS'
 'SNPJ' 'SNUH' 'SNVC' 'SBPC' 'SNAR' 'SNOS' 'SNGX' 'KVQQ' 'SYCJ' 'GOOY'
 'MSLP' 'LFBT' 'LFBD' 'OEJN' 'LPPD' 'LOWW']
scheduled_arr
['2019-06-07 21:50:00' '2019-06-07 20:30:00' '2019-06-07 23:35:00' ...
 '2019-06-08 03:05:00' '2019-06-07 03:10:00' '2019-06-07 19:02:00']
real_arr
['2019-06-07 21:39:00' '2019-06-07 20:30:00' '2019-06-07 23:35:00' ...
 '2019-06-07 06:52:00' '2019-06-07 05:09:00' '2019-06-08 01:26:00']

In [17]:
# Split Arrival(Scheduled, Real) into Year, Month and Date
flights['scheduled_arr'] = pd.to_datetime(flights['scheduled_arr'])
flights['real_arr'] = pd.to_datetime(flights['real_arr'])
flights.dtypes

/var/folders/rl/qrb5zxv57qg8121z8dhpdklh0000gn/T/ipykernel_7877/2228701292.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights['scheduled_arr'] = pd.to_datetime(flights['scheduled_arr'])
/var/folders/rl/qrb5zxv57qg8121z8dhpdklh0000gn/T/ipykernel_7877/2228701292.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights['real_arr'] = pd.to_datetime(flights['real_arr'])

company                  object
flight                   object
line_type                object
origin                   object
destination              object
scheduled_arr    datetime64[ns]
real_arr         datetime64[ns]
dtype: object

In [18]:
# Extract values of year, month and day by using attribute of dt
flights['scheduled_arr_Year'] = flights['scheduled_arr'].dt.year
flights['scheduled_arr_Month'] = flights['scheduled_arr'].dt.month
flights['scheduled_arr_Day'] = flights['scheduled_arr'].dt.day
flights['real_arr_Year'] = flights['real_arr'].dt.year
flights['real_arr_Month'] = flights['real_arr'].dt.month
flights['real_arr_Day'] = flights['real_arr'].dt.day

flights

/var/folders/rl/qrb5zxv57qg8121z8dhpdklh0000gn/T/ipykernel_7877/992535643.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights['scheduled_arr_Year'] = flights['scheduled_arr'].dt.year
/var/folders/rl/qrb5zxv57qg8121z8dhpdklh0000gn/T/ipykernel_7877/992535643.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights['scheduled_arr_Month'] = flights['scheduled_arr'].dt.month
/var/folders/rl/qrb5zxv57qg8121z8dhpdklh0000gn/T/ipykernel_7877/992535643.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights['scheduled_arr_Day'] = flights['scheduled_arr'].dt.day
/var/folders/rl/qrb5zxv57qg8121z8dhpdklh0000gn/T/ipykernel_7877/992535643.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights['real_arr_Year'] = flights['real_arr'].dt.year
/var/folders/rl/qrb5zxv57qg8121z8dhpdklh0000gn/T/ipykernel_7877/992535643.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights['real_arr_Month'] = flights['real_arr'].dt.month
/var/folders/rl/qrb5zxv57qg8121z8dhpdklh0000gn/T/ipykernel_7877/992535643.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights['real_arr_Day'] = flights['real_arr'].dt.day

,company,flight,line_type,origin,destination,scheduled_arr,real_arr,scheduled_arr_Year,scheduled_arr_Month,scheduled_arr_Day,real_arr_Year,real_arr_Month,real_arr_Day
0,AZU,2497,N,SBMO,SBRF,2019-06-07 21:50:00,2019-06-07 21:39:00,2019,6,7,2019,6,7
1,AZU,2493,N,SBMK,SBCF,2019-06-07 20:30:00,2019-06-07 20:30:00,2019,6,7,2019,6,7
2,AZU,2489,N,SBRF,SBGR,2019-06-07 23:35:00,2019-06-07 23:35:00,2019,6,7,2019,6,7
3,AZU,2488,N,SBGR,SBRF,2019-06-07 08:20:00,2019-06-07 08:11:00,2019,6,7,2019,6,7
4,AZU,2487,N,SBFL,SBKP,2019-06-07 17:45:00,2019-06-07 17:45:00,2019,6,7,2019,6,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1592596,AZU,2503,N,SBPL,SBKP,2019-06-07 06:35:00,2019-06-07 06:31:00,2019,6,7,2019,6,7
1592597,AZU,2502,N,SBRF,SBSG,2019-06-07 15:25:00,2019-06-07 15:05:00,2019,6,7,2019,6,7
1592598,AZU,2500,N,SBKP,SBPL,2019-06-08 02:35:00,2019-06-08 02:18:00,2019,6,8,2019,6,8
1592599,AZU,2499,N,SBJU,SBKP,2019-06-07 05:25:00,2019-06-07 05:09:00,2019,6,7,2019,6,7
1592600,AZU,2498,N,SBKP,SBJU,2019-06-08 01:30:00,2019-06-08 01:26:00,2019,6,8,2019,6,8

In [19]:
# Check unique values of each column
for i in range(len(flights.columns)):
    column_list = flights.columns.tolist()
    print(column_list[i])
    print(flights.iloc[:, i].unique())

company
['AZU' 'UAE' 'TTL' 'TPU' 'THY' 'TCV' 'TAP' 'TAM' 'QTR' 'PTB' 'PAM' 'NRS'
 'LPE' 'LAP' 'LAN' 'UAL' 'KLM' 'KAL' 'IBE' 'GLO' 'SWR' 'SKU' 'SAA' 'RAM'
 'ETH' 'EDW' 'DTA' 'DSM' 'DLH' 'DAL' 'CMP' 'CCA' 'BOV' 'BAW' 'AZA' 'AVA'
 'AUT' 'ARG' 'AMX' 'AFR' 'AEA' 'ACA' 'AAL' 'AAF' 'CFG' 'AZP' 'OWT' 'SLM'
 'ROI' 'LTG' 'FBZ' 'CLX' 'AZN' 'SUL' 'JAT' 'AUZ' 'SID' 'ELY' 'IPM' 'ONE']
flight
['2497' '2493' '2489' ... '9848' '7092' '9850']
line_type
['N' 'I']
origin
['SBMO' 'SBMK' 'SBRF' 'SBGR' 'SBFL' 'SBPK' 'SBCF' 'SBKP' 'SBLO' 'SBCY'
 'SBCT' 'SBRJ' 'SBSP' 'SNBR' 'SAEZ' 'SBEG' 'SBUY' 'SWCA' 'SPJC' 'SBGL'
 'SBPA' 'LTFM' 'GVAC' 'SBSV' 'LPPT' 'LPPR' 'SBFZ' 'SBSN' 'SBPS' 'SBTC'
 'SBCG' 'SBBR' 'SBSL' 'SBBE' 'KMIA' 'KMCO' 'KJFK' 'KBOS' 'SCEL' 'LEBL'
 'MMMX' 'LIRF' 'LFPG' 'EGLL' 'EDDF' 'LEMD' 'LIMC' 'FAOR' 'SUMU' 'SKBO'
 'SBUL' 'SBGO' 'SBMA' 'SBFI' 'SBBV' 'SBSG' 'SBJP' 'SBAR' 'SBPJ' 'OTHH'
 'SBRP' 'SWGN' 'SBQV' 'SWKO' 'SBTF' 'SWEI' 'SWPI' 'SBIH' 'KLAX' 'SGAS'
 'KIAD' 'KORD' 'KEWR' 'KIAH' 'OMDB' 'EHAM' 'PANC' 'RKSI' 'MDPC' 'SLVR'
 'SAAR' 'SACO' 'SBTE' 'SBJU' 'SBJE' 'SBPV' 'SBCN' 'SBVT' 'SBDN' 'SBSR'
 'SBMQ' 'SBRB' 'SBIZ' 'SBNF' 'SBJV' 'SBIL' 'LSZH' 'GMMN' 'SBCH' 'SBCX'
 'SBMG' 'HAAB' 'FNLU' 'KATL' 'MPTO' 'ZBAA' 'SLCB' 'SBAU' 'SBBH' 'SBSJ'
 'SBUR' 'SBPL' 'SOCA' 'KFLL' 'SBCZ' 'SBFN' 'SBKG' 'SBCA' 'SBPB' 'SBCB'
 'SNVB' 'SBHT' 'CYYZ' 'KDFW' 'LFPO' 'SBDO' 'SBTT' 'SBAE' 'SBML' 'SBVH'
 'SBAT' 'SBGV' 'SBRD' 'SBBW' 'SBPF' 'SBSI' 'SBFE' 'SBJA' 'SBJI' 'SBIP'
 'SBZM' 'SBTB' 'SBUA' 'EGKK' 'SULS' 'SAME' 'LLBG' 'SMJP' 'SDSC' 'SBLE'
 'SBCR' 'SBLJ' 'SBMS' 'SBAC' 'SBTG' 'SNTF' 'SBNM' 'SBTD' 'SSKW' 'SWLC'
 'SBPG' 'SBCJ' 'SBSM' 'SBAX' 'SBUG' 'SWMW' 'SNVS' 'SNMZ' 'SNYA' 'SBMD'
 'SNPD' 'SNCT' 'SNUH' 'SNTO' 'SEQM' 'SWLB' 'SWTS' 'SWJN' 'KMLB' 'SBVG'
 'SBUF' 'SBCP' 'SVMI' 'SWHP' 'SWFX' 'SNJM' 'SNUI' 'SNDT' 'SBGP' 'SAZS'
 'SBDB' 'SBPO' 'MMUN' 'SDIY' 'LKMT' 'KMEI' 'KMCN' 'OMAA' 'TJSJ' 'SEGU'
 'SBAS' 'LFBO' 'KMSY' 'SBJD' 'KSBD' 'SBSO' 'GCLP' 'SBVC' 'SWKN' 'TTPP'
 'SWSI' 'SWJI' 'KPBI' 'SWBC' 'LPFR' 'GMMX' 'SJRG' 'SSZR' 'SBBG' 'SCIE'
 'SSUV' 'SSGY' 'SSKM' 'SSFB' 'SSVL' 'SSPG' 'SSPI' 'SSOG' 'SSCP' 'SSCT'
 'SMPB' 'SEQU' 'SPCL' 'SPME' 'SPUR' 'SPQT' 'SPRU' 'SPTN' 'SPQU' 'SPJL'
 'SPZO' 'SCFA' 'YMML' 'NZAA' 'YSSY' 'SCCF' 'SCAT' 'SCQP' 'SCDA' 'SCCI'
 'SCTE' 'SASA' 'SABE' 'SCRG' 'SLLP' 'SCIP' 'SCAR' 'SCSE' 'SCBA' 'SCVD'
 'SPJE' 'SPJR' 'SPHI' 'SPST' 'SPYL' 'SPJJ' 'SPHO' 'SPTU' 'SKRG' 'SKCG'
 'MUHA' 'SAWH' 'SAWC' 'SAVC' 'SAZN' 'SANT' 'SARI' 'SKCL' 'MROC' 'SPSO'
 'SPLO' 'SCJO' 'SCPQ' 'SADP' 'SAWG' 'EGYP' 'SIMK' 'SBJR' 'SNBA' 'SBME'
 'SJTC' 'KVCV' 'LGAV' 'EDHI' 'GCTS' 'TJBQ' 'SSSB' 'CYUL' 'SURV' 'SBAQ'
 'TFFF' 'EDDM' 'SSGG' 'GOBD' 'SBGU' 'SIZX' 'SWBG' 'SWPY' 'SWEK' 'SBGS'
 'SDNM' 'FQMA' 'SBNT' 'GCRR' 'LEZG' 'EIDW' 'SGGR' 'SNIG' 'SWBE' 'SNOB'
 'SNWS' 'KROW' 'SDZG' 'SSDO' 'SKBQ' 'SDCO' 'TFFR' 'MKJS' 'ZBHH' 'WADD'
 'MHLM' 'TBPB' 'ZGGG' 'ZSAM' 'MGGT' 'SNRJ' 'SDWQ' 'SBMT' 'SBJC' 'SNMA'
 'SNTI' 'SNOX' 'SILC' 'SNHS' 'SNRU' 'MTPP' 'SNGA' 'SDAG' 'SDTK' 'SSTE'
 'SSCN' 'SDUB' 'SDIM' 'MNMG' 'SGES' 'SJHG' 'SSOU' 'LTBA' 'SBPC' 'SNPJ'
 'SSPB' 'KDTW' 'KLAS' 'SNZA' 'SNVC' 'SNAR' 'LFBT' 'SNGX' 'SNOS' 'SYCJ'
 'KVQQ' 'SNGV' 'KBFI' 'EIDL' 'GOOY' 'SLOR' 'MSLP' 'OEJN' 'LPPD']
destination
['SBRF' 'SBCF' 'SBGR' 'SBKP' 'SBPA' 'SBCY' 'SBCT' 'SBLO' 'SNBR' 'SBGL'
 'SBEG' 'SWCA' 'SBUY' 'SPJC' 'LTFM' 'SAEZ' 'GVAC' 'SBSV' 'LPPT' 'LPPR'
 'SBFZ' 'SBSG' 'SDSC' 'SBSR' 'SBSP' 'SBTC' 'SBCG' 'SBBR' 'SBRJ' 'SBSL'
 'KMIA' 'KMCO' 'KJFK' 'SCEL' 'LEBL' 'MMMX' 'LIRF' 'LFPG' 'EGLL' 'EDDF'
 'LEMD' 'LIMC' 'FAOR' 'SUMU' 'SKBO' 'SBBV' 'SBBE' 'SBVT' 'SBTE' 'SBMO'
 'SBFI' 'SBFL' 'SBJP' 'SBRP' 'SBUL' 'SBGO' 'SBPJ' 'SWGN' 'SBQV' 'SWKO'
 'SBTF' 'SWEI' 'SWPI' 'SBIH' 'SBSN' 'EGKK' 'SGAS' 'LLBG' 'MMUN' 'KIAD'
 'KORD' 'KEWR' 'KIAH' 'OMDB' 'EHAM' 'PANC' 'SBPS' 'MDPC' 'SLVR' 'SAAR'
 'SBJU' 'SBJE' 'SBAR' 'SBPV' 'SBCN' 'SBMK' 'SBDN' 'SBMA' 'SBJV' 'SBIZ'
 'SBIL' 'SBMQ' 'SBNF' 'LSZH' 'GMMN' 'OTHH' 'SBCH' 'SBCX' 'SBMG' 'HAAB'
 'FNLU' 'KATL' 'MPTO' 'SLCB' 'SBPL' 'SACO' 'SOCA' 'KFLL' 'SBRB' 'SBCZ'
 'SBFN' 'SBKG' 'SBCA' 'SBPB' 'KLAX' 'CYYZ' 'KDFW' 'LFPO' 'SNVB' 'SBCB'
 'SBDO' 'SBML' 'SBTT' 'SBAE' 'SBVH' 'SBAT' 'SBHT' 'SBGV' 'SBIP' 'SBUR'
 'SBBW' 'SBPF' 'SBSI' 'SBFE' 'SBJA' 'SBJI' 'SBAU' 'SBZM' 'SBTB' 'SBUA'
 'KBOS' 'SULS' 'SAME' 'RKSI' 'SMJP' 'SEQM' 'SBLE' 'SBCR' 'SBLJ' 'SBRD'
 'SBMS' 'SBAC' 'SBTG' 'SBPK' 'SBNM' 'SBTD' 'SNTF' 'SSKW' 'ZBAA' 'KMLB'
 'SBSJ' 'SWLC' 'SBPG' 'SBSM' 'SBAX' 'SBCJ' 'SBUG' 'SPIM' 'SWMW' 'SNVS'
 'SNMZ' 'SNYA' 'SBMD' 'SBBH' 'SNPD' 'SNCT' 'SWLB' 'SWTS' 'SWJN' 'SBVG'
 'SBCP' 'SBUF' 'SVMI' 'SWHP' 'SWFX' 'SNJM' 'SNUI' 'SNDT' 'SNTO' 'SBGP'
 'SAZS' 'SBDB' 'OMAA' 'SDIY' 'SABE' 'KMCN' 'KMEI' 'TJSJ' 'SBPO' 'SEGU'
 'KMSY' 'SBSO' 'GCLP' 'SBVC' 'SWKN' 'TTPP' 'SWSI' 'SWJI' 'KCWF' 'KPBI'
 'SWBC' 'LFBO' 'EKBI' 'LPFR' 'GMMX' 'KSBD' 'EDDB' 'SKRG' 'SSPB' 'SBBG'
 'SSZR' 'KTUS' 'SSUV' 'SSGY' 'SSFB' 'SSCT' 'SSVL' 'SSPG' 'SSKM' 'SSPI'
 'SSOG' 'SSCP' 'SMPB' 'SEQU' 'SPME' 'SPUR' 'SPHI' 'SPST' 'SPQT' 'SPRU'
 'SPQU' 'SPZO' 'NZAA' 'SCAR' 'SCDA' 'SCCI' 'SCRG' 'SCFA' 'SLLP' 'SCIP'
 'YSSY' 'SCCF' 'SCAT' 'SCSE' 'SCTE' 'SCBA' 'SCVD' 'SCQP' 'SCIE' 'SPJE'
 'SPJR' 'SPYL' 'SPJJ' 'SPHO' 'SPTN' 'SPJL' 'SPTU' 'SKCG' 'SASA' 'MUHA'
 'SPCL' 'SAWH' 'SAWC' 'SAVC' 'SAWG' 'SAZN' 'SANT' 'SARI' 'SKCL' 'MROC'
 'SPSO' 'YMML' 'SPLO' 'SCJO' 'SCPQ' 'KVCV' 'SADP' 'EGYP' 'TJBQ' 'SJTC'
 'SIMK' 'SBJR' 'SNBA' 'SBME' 'LGAV' 'GCTS' 'SJRG' 'KPAE' 'SSSB' 'CYUL'
 'EDDM' 'SURV' 'SBAQ' 'TFFF' 'SBBT' 'SBJD' 'SSGG' 'GOBD' 'SBGU' 'SJHG'
 'SIZX' 'SWBG' 'SWPY' 'SWEK' 'SBGS' 'KSFO' 'SDNM' 'LPAR' 'SBNT' 'GCRR'
 'LEZG' 'KSFB' 'SDCO' 'KRSW' 'KPUC' 'SGGR' 'SNIG' 'SWBE' 'SNOB' 'SNWS'
 'EDHI' 'SDZG' 'SSDO' 'SKBQ' 'KROW' 'TFFR' 'MKJS' 'ZBHH' 'WADD' 'MHLM'
 'TBPB' 'ZSAM' 'MGGT' 'ZGGG' 'SNTI' 'SBMT' 'SDAG' 'SBJC' 'SDWQ' 'SNOX'
 'SNRJ' 'SNMA' 'SEMT' 'SILC' 'SNHS' 'SNRU' 'MTPP' 'SNGA' 'SDTK' 'SSTE'
 'SSCN' 'SDUB' 'SDIM' 'MNMG' 'SGES' 'SSOU' 'SNZA' 'KDTW' 'LTBA' 'KLAS'
 'SNPJ' 'SNUH' 'SNVC' 'SBPC' 'SNAR' 'SNOS' 'SNGX' 'KVQQ' 'SYCJ' 'GOOY'
 'MSLP' 'LFBT' 'LFBD' 'OEJN' 'LPPD' 'LOWW']
scheduled_arr
['2019-06-07T21:50:00.000000000' '2019-06-07T20:30:00.000000000'
 '2019-06-07T23:35:00.000000000' ... '2019-06-08T03:05:00.000000000'
 '2019-06-07T03:10:00.000000000' '2019-06-07T19:02:00.000000000']
real_arr
['2019-06-07T21:39:00.000000000' '2019-06-07T20:30:00.000000000'
 '2019-06-07T23:35:00.000000000' ... '2019-06-07T06:52:00.000000000'
 '2019-06-07T05:09:00.000000000' '2019-06-08T01:26:00.000000000']
scheduled_arr_Year
[2019 2017 2020 2021]
scheduled_arr_Month
[ 6  7  8  9 10 11  3 12  1  2  4  5]
scheduled_arr_Day
[ 7  9  8 10 12 11 13 14 16 15 17 19 18 20 21 23 22 24 26 25 27 28 30 29
  1  3  2 31  4  5  6]
real_arr_Year
[2019 2018 2017 2020 2021]
real_arr_Month
[ 6  7  8  9 10 11  3 12  1  2  4  5]
real_arr_Day
[ 7  9  8 10 14 11 12 13 15 16 17 18 19 23 22 21 20 24 25 30 29 28 27 26
  1  2 31  3  5  6  4]

## Data Reshaping

In [61]:
# Merge two DataFrames: flights, airports
# Purpose: append lat, long column on flights
aviation = pd.merge(flights, airports, left_on='origin', right_on='ICAO')
aviation

,company,flight,line_type,origin,destination,scheduled_arr,real_arr,scheduled_arr_Year,scheduled_arr_Month,scheduled_arr_Day,real_arr_Year,real_arr_Month,real_arr_Day,ICAO,name,iso_country,iso_region,lat,long
0,AZU,2497,N,SBMO,SBRF,2019-06-07 21:50:00,2019-06-07 21:39:00,2019,6,7,2019,6,7,SBMO,Zumbi dos Palmares Airport,BR,BR-AL,-9.510809898376465,-35.79169845581055
1,TAM,4794,N,SBMO,SBBR,2019-06-08 19:55:00,2019-06-08 19:45:00,2019,6,8,2019,6,8,SBMO,Zumbi dos Palmares Airport,BR,BR-AL,-9.510809898376465,-35.79169845581055
2,TAM,4765,N,SBMO,SBGR,2019-06-08 22:05:00,2019-06-08 21:47:00,2019,6,8,2019,6,8,SBMO,Zumbi dos Palmares Airport,BR,BR-AL,-9.510809898376465,-35.79169845581055
3,TAM,4575,N,SBMO,SBGR,2019-06-08 05:50:00,2019-06-08 05:54:00,2019,6,8,2019,6,8,SBMO,Zumbi dos Palmares Airport,BR,BR-AL,-9.510809898376465,-35.79169845581055
4,GLO,9592,N,SBMO,SBKP,2019-06-08 16:35:00,2019-06-08 16:59:00,2019,6,8,2019,6,8,SBMO,Zumbi dos Palmares Airport,BR,BR-AL,-9.510809898376465,-35.79169845581055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457578,AFR,0454,I,GOOY,SBGR,2019-03-04 08:43:00,2019-03-04 08:43:00,2019,3,4,2019,3,4,GOOY,LÃ©opold SÃ©dar Senghor International Airport,SN,SN-DK,14.739700317382812,-17.49020004272461
1457579,BOV,9730,I,SLOR,SBGL,2019-03-06 05:00:00,2019-03-06 05:00:00,2019,3,6,2019,3,6,SLOR,Juan Mendoza Airport,BO,BO-O,-17.962600708,-67.0762023926
1457580,AZU,9843,I,MSLP,KFLL,2019-04-14 17:20:00,2019-04-14 17:20:00,2019,4,14,2019,4,14,MSLP,MonseÃ±or Ãscar Arnulfo Romero International ...,SV,SV-PA,13.4409,-89.055702
1457581,UAE,0262,I,OEJN,OMDB,2019-04-11 20:17:00,2019-04-11 20:17:00,2019,4,11,2019,4,11,OEJN,King Abdulaziz International Airport,SA,SA-02,21.6796,39.156502
1457582,TAM,9533,I,LPPD,LOWW,2019-04-11 11:31:00,2019-04-11 11:31:00,2019,4,11,2019,4,11,LPPD,JoÃ£o Paulo II Airport,PT,PT-20,37.7411994934,-25.6979007721

In [63]:
# Drop unnecessary columns
aviation.drop(['scheduled_arr', 'real_arr', 'scheduled_arr_Year', 'scheduled_arr_Month', 'scheduled_arr_Day', 'ICAO', 'iso_country', 'iso_region'], axis=1, inplace=True)
aviation

,company,flight,line_type,origin,destination,real_arr_Year,real_arr_Month,real_arr_Day,name,lat,long
0,AZU,2497,N,SBMO,SBRF,2019,6,7,Zumbi dos Palmares Airport,-9.510809898376465,-35.79169845581055
1,TAM,4794,N,SBMO,SBBR,2019,6,8,Zumbi dos Palmares Airport,-9.510809898376465,-35.79169845581055
2,TAM,4765,N,SBMO,SBGR,2019,6,8,Zumbi dos Palmares Airport,-9.510809898376465,-35.79169845581055
3,TAM,4575,N,SBMO,SBGR,2019,6,8,Zumbi dos Palmares Airport,-9.510809898376465,-35.79169845581055
4,GLO,9592,N,SBMO,SBKP,2019,6,8,Zumbi dos Palmares Airport,-9.510809898376465,-35.79169845581055
...,...,...,...,...,...,...,...,...,...,...,...
1457578,AFR,0454,I,GOOY,SBGR,2019,3,4,LÃ©opold SÃ©dar Senghor International Airport,14.739700317382812,-17.49020004272461
1457579,BOV,9730,I,SLOR,SBGL,2019,3,6,Juan Mendoza Airport,-17.962600708,-67.0762023926
1457580,AZU,9843,I,MSLP,KFLL,2019,4,14,MonseÃ±or Ãscar Arnulfo Romero International ...,13.4409,-89.055702
1457581,UAE,0262,I,OEJN,OMDB,2019,4,11,King Abdulaziz International Airport,21.6796,39.156502
1457582,TAM,9533,I,LPPD,LOWW,2019,4,11,JoÃ£o Paulo II Airport,37.7411994934,-25.6979007721

In [20]:
flights_pt = pd.pivot_table(data=flights, values='flight', index='destination', columns='real_arr_Year', aggfunc='count')
flights_pt

real_arr_Year  2017  2018    2019   2020   2021
destination
CYUL            NaN   NaN     9.0   38.0    NaN
CYYZ            NaN   NaN   363.0   90.0    NaN
EDDB            NaN   NaN     1.0    NaN    NaN
EDDF            NaN   NaN  1344.0  296.0  107.0
EDDM            NaN   NaN     9.0   33.0    NaN
...             ...   ...     ...    ...    ...
YSSY            NaN   NaN     3.0    NaN    NaN
ZBAA            NaN   NaN   104.0   25.0    1.0
ZBHH            NaN   NaN     NaN    1.0    NaN
ZGGG            NaN   NaN     NaN    3.0    NaN
ZSAM            NaN   NaN     NaN    4.0    NaN

[386 rows x 5 columns]